{/* TODO: https://codepen.io/inupurnomo/pen/MWWRmQr */}
{{ template "base.html" . }}

{{ define "title" }} {{ .title }} {{ end }}

{{ define "css" }}
<link rel="stylesheet" type="text/css" href="/assets/userform.css" />
{{ end }}

{{ define "body" }}

<main>
    <h1 style="text-align: center; color: #333;">{{ .title }}</h1>
    <div class="form-container">
        <form action="/api/{{ .action }}" method="post" id="{{ .action }}-form" onsubmit="validateForm()">

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" style="width: 300px;" maxlength="320">
            <div id="email-error"></div>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" style="width: 300px;" maxlength="31">
            <div id="password-error"></div>

            {{ if eq .action "signup" }}
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" id="first-name" style="width: 300px;" maxlength="31">
            <div></div>
            <label for="last-name">Last Name:</label>
            <input type="text" name="last-name" id="last-name" style="width: 300px;" maxlength="63">
            <div></div>
            {{ end }}

            <button type="submit">Signup</button>

        </form>
    </div>
</main>

<script>
    function validateForm() {
        const emailInput = document.getElementById("email");
        const passwordInput = document.getElementById("password");
        const emailError = document.getElementById("email-error");
        const passwordError = document.getElementById("password-error");

        const email = emailInput.value;
        const password = passwordInput.value;

        console.debug(`email: ${email} password: ${password}`);

        // Email validation
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            emailError.textContent = "Invalid email address";
            console.debug("email regex test failed");
            return false;
        } else {
            emailError.textContent = "";
        }

        // Password validation
        const hasUppercase = /[A-Z]/.test(password);
        const hasLowercase = /[a-z]/.test(password);
        const hasNumber = /\d/.test(password);
        const hasSpecial = /[!#@$%^&*)(+=._-]/.test(password);

        const isValid = password.length >= 8 && hasUppercase && hasLowercase && hasNumber && hasSpecial;

        if (!isValid) {
            // FIXME: change error message based on real error
            passwordError.textContent = "Password must be at least 8 characters long";
            console.debug("password validation test failed");
            return false;
        } else {
            passwordError.textContent = "";
        }

        console.debug("all good");
        return true;
    }
</script>

{{ end }}
